extends skeleton
block content
  h1 Favourites 
  div#verbosehistory
    #{history.apple}
    each val,key in history
      span.hist(class="hist#{val}")  #{val}
    span.hist.leftovers + #{leftover} others left to find
