extends skeleton
block content
  a#history(href="#") type a word into the textbox ('apple')
  div#favs
    span My favourite 
    input(type="textarea",autofocus,autocomplete="off",maxlength="77")#favbox 
    div#response
      span#is is
      span#favspace ...
      span#period &#46;
  div#verbosehistory
