@import url(http://fonts.googleapis.com/css?family=Archivo+Black);
body {
    color:#bbb;
    background-color:#333;
    font-family:'Archivo Black',sans-serif;
    margin:2%;
}
#favs {
    clear:both;
    font-size:400%;
    height:4em;
}
h1 {
    font-size:400%;
    margin-bottom:5%;
}
#favbox {
    border-top:none;
    border-left:none;
    border-right:none;
    background-color:transparent;
    border-bottom:1px solid #bbb;
    color:white;
    font:inherit;
    width:50%;
    text-transform:lowercase;
    outline:none;
}
#favspace {
    color:white;
}
#is {
    display:inline-block;
}
.bars {
    float:right;
}
.bar {
    color:#555;
    display:block;
    font-size:100%;
}
#response {
    display:none;
}
#favbox::-moz-selection{
    color:#ccc;
    background:#444;
}
#favbox::selection {
    color:#ccc;
    background:#444;
}
#verbosehistory {
    color:#555;
    font-size:60%;
    clear:right;
    display:block;
}
#verbosehistory a, #verbosehistory span {
    padding:5px;
    display:inline-block;
    float:left;
}
a{
    text-decoration:inherit;
    color:inherit;
}
a:hover {
    color:white;
    background-color:black;
}
a:visited{
    color:inherit;
}
div#verboseprogress {
    width:100%;
    margin:auto;
    border:1px solid #444;
    overflow:auto;
    background-color:#222;
}
div#verboseprogress span {
    height:20px;
    width:20px;
    overflow:hidden;
    display:block;
    float:left;
    background-color:#aaa;
    color:#333;
    text-align:center;
}
div#verboseprogress span.null {
    background-color:#333;
}
#topleft {
    text-align:left;
    width:20px;
    height:20px;
    position:relative;
    right:20px;
    top:20px;
}
#bottomright {
    text-align:right;
    width:20px;
    height:20px;
    position:relative;
    left:20px;
    bottom:20px;
    float:right;
} 
#progcontainer {
    width:500px;
    margin:auto;
}
li {
    display:inline;
    list-style-type:none;
    padding-right:20px;
}
ul { float:left}
div#verboseprogress span:hover {
    color:red;
}
#warning {
    color:#EB8787;
    text-align:center;
    display:none;
    clear:both;
    margin-top:2em;
}
#warnclose {
    display:block;
    color:#666;
    font-size:70%;
}
.leftovers{
    color:#ccc;
}
.overview {
    margin-left:100px;
    margin-right:100px;
    margin-top:50px;
    margin-bottom:50px;
    -moz-columns:200px;
    -webkit-columns:200px;
    columns:200px;
    display:none;
    clear:both;
}
.overview span {
    color:black;
    border:1px solid #222;
    display:block;
    width:200px;
    padding:5px;
    overflow:hidden;
    height:1em;
    margin-top:5px;
    background-color:#bbb;
    text-overflow:ellipsis;
}
.overview .true {
    color:#444;
}
.overview .false {
    color:#bbb;
    background-color:#444;
}
.overview .true:hover { background-color:green; }
.overview .false:hover { background-color:red; }

.overview span:hover { overflow:visible; }
.disclaimer {
    text-align:center;
    height:100%;
    background-color:black;
    padding:20%;
    height:110%;
}
.nav {
    margin:20px;
}
